﻿* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    overflow: hidden;
}

.window {
    border: 2px solid #666666;
    border-radius: 10px 10px 10px 10px;
}

.window:hover {
    border-color: #FFFF00;
}

#leftColumn {
    float: left;
}

#input {
    clear:both;
    overflow: auto;
}

#resizeBar {
    float: left;
    height: 100%;
    width: 4px;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #999999;
    cursor:w-resize;
}

#container {
    float: left;
}

#runButton {
    margin-top: 0px;
    height: 58px;
    width: 100%;
    -moz-box-shadow:inset 0px 0px 8px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 8px 0px #ffffff;
    box-shadow:inset 0px 0px 8px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d4d4), color-stop(1, #949194) );
    background:-moz-linear-gradient( center top, #d4d4d4 5%, #949194 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#949194');
    background-color:#d4d4d4;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #858585;
    display:inline-block;
    color:#474747;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 0px #c4c4c4;
}

#runButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #949194), color-stop(1, #d4d4d4) );
    background:-moz-linear-gradient( center top, #949194 5%, #d4d4d4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949194', endColorstr='#d4d4d4');
    background-color:#949194;
}

#runButton:active {
    position:relative;
    top:1px;
}

#downloadButton, #clearButton , #resetButton{
    margin-top: 0px;
    height: 18px;
    width: 33.3%;
    float: left;
    -moz-box-shadow:inset 0px 0px 8px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 8px 0px #ffffff;
    box-shadow:inset 0px 0px 8px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d4d4), color-stop(1, #949194) );
    background:-moz-linear-gradient( center top, #d4d4d4 5%, #949194 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#949194');
    background-color:#d4d4d4;
    display:inline-block;
    color:#474747;
    font-family:Arial;
    font-size:14px;
    text-decoration:none;
    text-shadow:1px 1px 0px #c4c4c4;
}

#downloadButton:hover , #clearButton:hover , #resetButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #949194), color-stop(1, #d4d4d4) );
    background:-moz-linear-gradient( center top, #949194 5%, #d4d4d4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949194', endColorstr='#d4d4d4');
    background-color:#949194;
}

#downloadButton:active, #clearButton:active , #resetButton:active {
    position:relative;
    top:1px;
}

#inset {
    position:absolute;
    bottom:0px;
    right:0px;
    border:none;
    width:140;
    height:140px;
}

#helpButton {
    position:absolute;
    top:10px;
    right:10px;
    color:#666666;
    cursor:help;
}

#help {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    color:#222222;
}

#closeHelp {
    position:absolute;
    top:4px;
    right:4px;
    width:40px;
    height:40px;
    padding:0px;
    color:#000000;
    font-size:2.5em;
    line-height:40px;
    cursor:pointer;
    -moz-box-shadow:inset 0px 0px 8px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 8px 0px #ffffff;
    box-shadow:inset 0px 0px 8px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d4d4), color-stop(1, #949194) );
    background:-moz-linear-gradient( center top, #d4d4d4 5%, #949194 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#949194');
    background-color:#d4d4d4;
}

#closeHelp:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #949194), color-stop(1, #d4d4d4) );
    background:-moz-linear-gradient( center top, #949194 5%, #d4d4d4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949194', endColorstr='#d4d4d4');
    background-color:#949194;
}

#help-text {
    position:absolute;
    top:20px;
    bottom:20px;
    left:50%;
    width:900px;
    margin-left: -450px;
    padding:25px;
    overflow:auto;
    background-color:#FFFFFF;
    border: 2px solid #666666;
    border-radius: 10px 10px 10px 10px;
    text-align:center;
}

#left_help {
    text-align:left;
    float:left;
    width:400px;
    margin-top:20px;
}

#right_help {
    text-align:left;
    float:right;
    width:400px;
    margin-top:20px;
}

.shaded {
    margin:4px;
    padding:4px;
    background-color:#DDDDDD;
}

.expandLink {
    text-decoration: underline;
    cursor:pointer;
    color:#000000;
}

.expandLink:hover {
    color:#000000;
}

.expandLink:active {
    color:#000000;
}

.expandLink:visited {
    color:#000000;
}

.expandable {
    display:none;
    margin-left:12px;
}

#debug {
    position:fixed;
    top:0px;
    right:0px;
}